
<div class="navbar bg-light pt-0">
  <div class="col-12 d-flex justify-content-center logo p-1">
    <img src="../../../assets/img/png/logo.png" alt="" class="col-1">
  </div>
</div>
<div class=" backg container-fluid d-flex justify-content-center pt-5">
  <form class="login form-row mb-5" [formGroup]="loginForm" (ngSubmit)="submit()">
    
    <div class="card m-1 container-fluid" style="width: 100rem;">
      <div class="card-body">
        <div class="col-12 d-flex justify-content-center logo p-1">
          <img src="../../../assets/img/png/logoInicio.png" alt="" class="col-5">
        </div>
        <div class="pt-1">
          <div class="col-12 form-group pt-2">
            <input type="email" formControlName="email" id="email" placeholder="E-MAIL" class="form-control">
          </div>
          <div class="col-12 form-group d-flex m-0" >
            <input [type]="hide ? 'password' : 'text'" id="password"  placeholder="SENHA" class="form-control" style="border-radius: 0.5rem
             0 0 0.5rem !important;" formControlName="senha" id="senha" >
            <div class="input-group-append">
            <span class="input-group-text" (click)="hide = !hide">
              <i class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</i>
            </span>
            </div>         
         </div>
          <div class="col-12 form-group button pt-5">
          <button type="submit" (click)="submit()" class="btn btn-success btn-sm btn-block p-2">Entrar</button>
          </div>
          <div class="col-12">
            <a class="conectar font-weight-bold" (click)="loginWithFacebook()">
              <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_8_1647)">
                <path d="M15.2825 17C15.6787 17 16 16.6788 16 16.2825V4.71749C16 4.32119 15.6787 4 15.2825 4H3.71749C3.32114 4 3 4.32119 3 4.71749V16.2825C3 16.6788 3.32114 17 3.71749 17H15.2825Z" fill="#395185"/>
                <path d="M7.58978 14V9.74026H9.01966L9.23373 8.08016H7.58978V7.0202C7.58978 6.53956 7.72329 6.21201 8.41255 6.21201L9.29165 6.21162V4.72683C9.13954 4.7066 8.61773 4.66139 8.01066 4.66139C6.74317 4.66139 5.87546 5.43504 5.87546 6.85585V8.08016H4.44194V9.74026H5.87546V14H7.58978Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_8_1647">
                <rect width="11" height="11" fill="white"/>
                </clipPath>
                </defs>
              </svg>
                
              Entrar com facebook
            </a>
          </div>
          <div class="col-12">
            <a class="esquece font-weight-bold" routerLink="/registration">Não sou cadastro</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
