.container-fluid {
  min-height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #FFF;
}

.login {
  max-width: 500px;
  background: #FFF;
  border-radius: 10px;
}
.col-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.modal-content {
  width: 70% !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0rem 2rem 1rem 2rem !important;
}

.button {
  padding-top: 20px;
}
a {
  color: #002060 !important;
}
.btn-warning {
  color: #FFFF;
  background-color: #002060 !important;
  border-color: #002060 !important;
  border-radius: 10px;
}

.btn-warning:hover {
  color: #FFFF;
  background-color: #002060a9 !important;
  border-color: #002060a9 !important;
}
.esquece {
  color: #52668E !important;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 900px){
  .div1 {
    position: static !important;
    }

  .div2 {
    position: static !important;
    width: auto !important;

  }

  .login {
    width: 100% !important;
}

  .col-8 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
}

.term {
  text-align: center;
}
.form-control {
  background-color: #F8F8F8 !important;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #F8F8F8 !important;
  border: 1px solid #ced4da;
  border-left: 1px solid transparent !important;
  border-radius: 0.25rem 0.25rem 0 0 !important;
}
.div1 {
  position: absolute;
  top: 0;
  right: 30%;
  bottom: 0;
  width: 70%;
  text-align: center;
  align-content: center;
}
.div2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  font-family: 'Montserrat', sans-serif;
}
.logo{
  text-align: center;
  height: 100px; 
}
.topo {
  margin:auto;
}

.login{
  width: 50%;
}
.termos{
  margin-top: 50px;
  color: #74787E;
  font-size: 12px;
  padding: 30px;
  text-decoration: none;
}
.esqueci{
  padding-left: 10px;
  color: #C5282C;
  font-size: 12px;
  
}
.rodape{
  margin-top: 70px;
  text-align: center;
}