<div class="cor-background pl-3">
  <div class="row">
    <div class="col-12 pb-3 pt-4">
      <div class="form-row">
        <div class="col-lg-12 form-group justify-space">
          <div class="input-group justify-space">
            <h3 class="simple-text ml-2 text pl-1">Cadastro de Usuario</h3>
          </div>
        </div>
      </div>

      <div class="col-12">   
        <div class="card">
          <div class="card-body">
            <div class="col-12">
              <div class="row row-area">
                <div class="col-12 form-group">
                  <div class="input-group">
                    <input type="text"  class="form-control" placeholder="Nome" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
              </div>
              <div class="row row-area">
                <div class="col-3 form-group">
                  <div class="input-group">
                    <input type="text"  class="form-control" placeholder="SUS" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
                <div class="col-3 form-group">
                  <div class="input-group">
                    <input type="number"  class="form-control" placeholder="CPF" mask="000.000.000-00" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
                <div class="col-6 form-group">
                  <div class="input-group">
                    <input type="date"  class="form-control" placeholder="Telefone" mask="(00)00000-0000" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
              </div>
              <div class="row row-area">
                <div class="col-5 form-group">
                  <div class="input-group">
                    <input type="text"  class="form-control" placeholder="Endereço" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
                <div class="col-1 form-group">
                  <div class="input-group">
                    <input type="number"  class="form-control" placeholder="Número" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
                <div class="col-6 form-group">
                  <div class="input-group">
                    <input type="date"  class="form-control" placeholder="Bairro" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>
                </div>
              </div>
              <div class="row row-area">
                <div class="col-6 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected>Tem alguma patologia?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
                <div class="col-6 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected>Necessidade Visita do medico?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
              </div>
              <div class="row row-area">
                <div class="col-6 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected>Toma algum remedio controlado?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
                <div class="col-6 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected> Tem algum depende?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
              </div>
              <div class="row row-area">
                <div class="col-3 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected>Fuma?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
                <div class="col-3 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected> Bebida?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
                <div class="col-6 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected> Idioso?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
              </div>
              <div class="row row-area">
                <div class="col-6 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected>Cancer?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
                <div class="col-3 form-group">
                  <select class="form-control field-height" id="inputGroupSelect02">
                    <option selected> Filhos?</option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                  </select>                
                </div>
                <div class="col-3 form-group">
                  <div class="input-group">
                    <input type="number"  class="form-control" placeholder="Número" style="border-right: 1px solid transparent !important;" aria-label="Amount (to the nearest dollar)">
                  </div>          
                </div>
                <div class="justify-content-end col-12" style="display: flex;">
                  <div>
                    <button type="button" class="btn btn-success mr-1">
                       Salvar
                    </button>
                    <button type="button" class="btn btn-primary" routerLink="../user-list" >
                      Voltar
                   </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
